.container {
    margin-top: 40px;
}
.task-block {
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
.task-block-header {
    border-bottom: 1px solid #ccc;
    padding: 15px 20px;
}
.task-block-header span {
    margin-right: 20px;
}
.task-block-content {
    padding: 15px 20px;
}
#page-numbers {
    margin: 0;
    padding: 0 15px;
}
#page-numbers li {
    float: left;
    list-style: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}
#page-numbers li.active {
    background: #000;
    color: #fff;
}
#page-numbers li + li {
    border-left: none;
}
